{% extends "basicapp/base.html" %}
{% block body_block %}

<div class="jumbotron">
    <h1 class="display-4">Welocme to Niralee Technologies Pvt Ltd!</h1>
    <p class="lead">Niralee Technologies Pvt Ltd is a Software Development Company which develops Software products and applications to its clients and it is also an Organisation providing the best IT Training and Placements in Hyderabad. </p>
    <hr class="my-4">
    <p>We also provide internship that can provide unique opportunities for learning outside of academic settings.</p>
    <a class="btn btn-primary btn-lg" href="https://www.niraleetechnologies.com/" role="button">niralee</a>
  </div>

  {% endblock %}
 