{% extends "basicapp/base.html" %}
{% load static %}
{% block body_block %}

<div class="jumbotron">
    {% if registered %}
        <h1>Thank You for Registering!</h1>
  
  {% else %}
    <h1>You can register here!</h1>
    <br>
    <h3>Please Fill Out The Form Below:</h3>
    <br>
    <hr>
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <input type="submit" value="Register" name="">
    </form>
    {% endif %}
</div>


  {% endblock %}
 